.device-state-body {
  position: relative;
}
.device-statue-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  #label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }
}
.device-state-box {
  display: flex;
  position: absolute;
  right: 60px;
  // right: 10px;
}
.device-state-layout {
  display: flex;
  margin-left: 10px;
}
.device-state-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 2px;
}
.device-state-card-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  #nameBox {
    margin-left: 10px;
  }
  #name {
    font-size: 18px;
    color: black;
    width: 110px;
  }
  #text {
    width: 150px;
  }
}
.device-state-card {
  border: 1px solid #a0a0a0;
  width: 250px;
  height: 220px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #a0a0a0;
  cursor: pointer;
  img {
    width: 80px;
    height: 80px;
  }
}
.device-state-text {
  text-align: center;
}
.device-state-pagina {
  margin: 10px;
}
.device-state-line {
  height: 1px;
  width: 100%;
  border: 1px dashed #a0a0a0;
}
.device-detail-flex {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 300px;
    margin: 10px;
  }
}
.device-status-step {
  width: 95%;
}
.device-status-card {
  border: 1px solid #a0a0a0;
  width: 150px;
  #deviceTitle {
    background: rgba(54, 128, 255, 1);
    color: white;
  }
}
.device-status-img{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}