html, body, #root {
  height: 100%;
  //  overflow:-Scroll;overflow-y:hidden
}
body {
  font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Lantinghei SC","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif !important;
}
.display-map {
  background: rgb(1,2,59);
}
.ol-layer-tiandi {
  opacity: 0.2;
}
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
::-webkit-scrollbar-track-piece{width:10px;background-color:white ;  }

::-webkit-scrollbar{
  background: none;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb{
  -webkit-transition: background .2s ease;
  background: #d8d8d8;
  border-radius: 4px;
  transition: background .6s ease;
}

::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.7) ; cursor:pointer}
