.hm-menu {
  display: flex;
  flex-direction: column;
  .hm-logo {
    height: 64px;
    flex-shrink: 0;
    color: white;
    font-size: 14px;
    position: relative;
    right: 0;
    left: 47px;
    top: 18px;
  }
  .hm-content {
    flex-grow: 1;
  }
  .menu-content {
    // width: 72px;
    height: 18px;
    font-size: 18px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #7a8b9f;
    line-height: 35px;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 5px;
  }
}
.menu-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.router-item-style {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  .router-unselected {
    .router-item-style-img-div {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 70px;
        height: 70px;
        // color: rgb(123, 147, 255);
        color: rgb(112, 112, 112);
      }
    }
    .router-item-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: rgb(112, 112, 112);
    }
  }
  .router-selected {
    .router-item-style-img-div {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 70px;
        height: 70px;
        color: rgb(123, 147, 255);
      }
    }
    .router-item-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: rgb(123, 147, 255);
    }
  }
}
.base-layout-header {
  .site-layout-background {
    background: #0176ff;
    height: 45px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .site-layout-right {
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
.layout-open-menu {
  cursor: pointer;
}
.reset-password {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  div {
    width: 80px;
  }
  input {
    margin-right: 20px;
  }
}
.warning-text {
  color: red;
}
.home {
  // font-size: 101px;
}
