.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #063771 !important;
  background-image: linear-gradient(to right, #063771, black);
}
.ant-table-thead > tr > th {
  color: #0000009e !important;

  font-weight: bold !important;
}
.hm-menu {
  .ant-menu-dark.ant-menu-inline .ant-menu-item {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  .hm-logo {
    height: 64px;
    flex-shrink: 0;
    color: white;
    font-size: 14px;
    position: relative;
    right: 0;
    left: 47px;
    top: 18px;
  }
  .hm-content {
    flex-grow: 1;
  }
  .menu-content {
    // width: 72px;
    height: 35px;
    font-size: 15px;
    // font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #7a8b9f;
    line-height: 35px;
  }
  .ant-menu-submenu,
  .ant-menu-submenu-inline {
    margin: 10px 0;
    padding: 5px 0;
    // height: 45px;
  }

  .ant-layout-sider {
    height: auto;
    min-height: 900px;
  }
  .ant-layout-sider-children {
    min-height: 900px;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 17px;
    width: 20px;
    height: 20px;
    margin-left: -9px;
  }
  svg {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    margin-left: -9px;
  }
}
.menu-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.router-item-style {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  .router-unselected {
    .router-item-style-img-div {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 70px;
        height: 70px;
        // color: rgb(123, 147, 255);
        color: rgb(112, 112, 112);
      }
    }
    .router-item-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: rgb(112, 112, 112);
    }
  }
  .router-selected {
    .router-item-style-img-div {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 70px;
        height: 70px;
        color: rgb(123, 147, 255);
      }
    }
    .router-item-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: rgb(123, 147, 255);
    }
  }
}
.site-layout {
  z-index: 9;
}
.base-layout-header {
  .site-layout-background {
    background: #0176ff;
    height: 45px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .site-layout-right {
      svg {
        width: 20px;
        height: 20px;
        margin-right: 30px;
      }
    }
  }
}
.layout-open-menu {
  cursor: pointer;
}
.reset-password {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  div {
    width: 60px;
  }
  input {
    margin-right: 20px;
  }
}
.warning-text {
  color: red;
}
.home {
  .ant-layout-sider{
    min-height: 950px; 
    height: auto;
  }
  // font-size: 101px;
}
