.new-base-columns {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.base-form-close {
  margin-left: 50px;
}
.base-table-layout {
  position: relative;
  width: 100%;
  height: 100%;
}
.base-table-search {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
