.view-query {
  display: flex;
  align-content: space-between;
  justify-items: center;
  div {
    width: 100%;
    display: flex;
  }
  button {
    margin-left: 15px;
  }
  .view-query-left {
    display: flex;
    align-items: center;
  }
  .view-query-breacrumd {
    width: 200px
  }
}
.base-layout-modal {
  .ant-modal-content {
    margin-top: -50px;
  }
  .ant-modal-body {
    overflow: auto;
    height: 650px;
  }
}
.base-rowSelect-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .base-rowSelect-icon {
    position: absolute;
    right: 10px;
    width: 30px;
    // height: 50px;
  }
}
.base-rowSelect {
  width: 322px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 13px;
}
.base-add-button {
  width: 78px;
  height: 30px;
  border: 1px solid #40a0ea;
  border-radius: 20px;
  color: #40a0ea;
}
